.pagesize {
  align-items: center;
  border-radius: 10px;
  background: #00e1ff;
  padding: 0.5em 0.5em 0.5em 1em;
  transition: all 0.5s;
}

.filter {
  height: 40px;
  align-items: center;
  border-radius: 10px;
  background: #00e1ff;
  margin-left: 20px;
  padding: 0.5em 0.5em 0.5em 1em;
  transition: all 0.5s;
}