.footer {
  height: 120px;
  position: relative;
  background: linear-gradient(#e7e8ec, #00e1ff);

  & .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;

    & span {
      display: block;
      color: #8a8c8d;
      margin-right: 5px;

      & a {
        color: #8a8c8d;
        text-decoration: none;
      }
    }

    .title {
      width: 100%;
      display: block;
      text-transform: uppercase;
      color: #1890ff;
      text-align: center;
      cursor: pointer;
    }
  }
}
