.profile-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 320px;
  height: auto;
  margin: 20px auto;
  border: 1px solid #000;
  padding: 20px;

  input:checked + label {
    visibility: hidden;
  }
}

.profile-item {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-bottom: 10px;

  & > label:first-child {
    width: 150px;
  }

  & input,select {
    appearance: none;
    border-radius: 10px;
    background: #00e1ff;
    border: 2px solid #000;
    padding: 0 0.5em 0 1em;

    &:hover,
    &:focus {
      background: #00ffdd;
    }
  
  }
}

.input-container {
  display: flex;
  flex-direction: column;
}

.label-validation {
  font-size: 0.8rem;
  color: red;
}

.profile-item__title {
  width: 80px;
}

#birthdayDate {
   height: 22px;
}


.submit-btn {
  background-color: #18ffffe8;
  color: black;
  border: 1px solid #000;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
  &:hover,
  &:active {
    background-color: #00ffdd;
    color: white;
  }

}


